*{

  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:Century Gothic;
  
}
h1
{
text-align: center;
margin: 20px;
font-size: 40px;
;
}


/*les blocks*/
.p1
{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom:20px ;
}
.p2{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom:20px ; 
}
.p3{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom:20px ; 
}

/* ****************  les titres*/
.product
{
  text-align: center;
 font-size: 30px;
  margin-top: 10px;

}
.seche
{ margin-top: 20px;
  margin-left: 570px;
  font-size:30px;
  margin-bottom: 5px;
}
.box{
  margin-top: 20px;
  margin-left: 650px;
  font-size:30px;
  margin-bottom: 5px;
  
}
.plantes
{
  margin-top: 20px;
  margin-left: 600px;
  font-size:30px;
  margin-bottom: 5px;
 
}
/* *****************product section*****************/
*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family:Century Gothic;
}
.product-section{
margin-top: 60px;
margin-bottom: 60px;
}
.products-of-category
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom:50px ;
}
.product-box {
padding: 10px;
width: 25%;
text-align: center;
text-size-adjust:  1px; ;
margin-top: 40px;
}

.product-box p{

color: black;
transition: all 0.3s ease ;
margin-top: 10px;
position: relative;
top:0px;

}
.product-list h2{
text-align: center;
text-decoration: underline;
padding-bottom: 20px;
}


.product-box div {
width: 200px;
height: 200px;
background-size: 100% auto ;
background-repeat: no-repeat;
background-position: center center;
border: 2px black solid ;
transition: all 0.6s ease ;
margin: 0px auto ;
}
.product-box div:hover{
background-size: 140% auto ; 
cursor: pointer;

}
.product-box:hover div{
    background-size: 140% auto ; 
    cursor: pointer;

}


.product-box button{
  padding: 3px;
  margin: 5px;
  border-radius:20px;
  background-color: pink;
}
.product-box button:hover{
  background-color: #f519a4;
  color: white;
}
input{
  padding: 3px;
  margin: 5px;
  border-radius:20px;
  background-color: pink;
}
input:hover{
  background-color: #f519a4;
  color: white;
}

/* *****************end product section*****************/
